:root {
  --main-color: rebeccapurple;
}

.widget {
  border-radius: 16px;
  border: 2px solid var(--main-color);
  padding: 1rem;
  height: 100%;

  max-width: 600px;
  width: 100%;
}

.iframeContainer {
  width: 100%;
  overflow: hidden;
}

.iframe {
  border: 0
}

.iframeWrapper {
  background-color: var(--main-color);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
}

@media (max-width: 680px) {
  .widget {
    max-width: 400px;
  }
}
